.App {
  font-family: sans-serif;
}

.App .weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 60px;
}

.App .weather-app {
  padding: 25px;
  border: 1px solid #dadde1;
}

.App .open-link {
  font-size: 15px;
}
.App .open-link a {
  text-decoration: none;
}
